// @import "containerMixin";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Radio Canada", Courier, monospace;
}
body {
  width: 100%;
  height: 100vh;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  background: black;
  color: white;
}

main {
  width: 78%;
  min-width: 300px;
  height: 100%;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container {
  width: 400px;
  min-width: 300px;
  height: 550px;
  .screen {
    border-radius: 1rem;
    overflow: hidden;
    text-align: end;
    background-color: #191919;
    display: flex;
    font-size: 1rem;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
    height: 25%;
    .input {
      width: 100%;
      overflow: hidden;
      display: flex;
      justify-content: end;
      align-items: flex-start;
      transition: font-size 0.5s ease-out;
    }
    .inp--title {
      justify-content: start;
      animation: grow-animation 0.5s ease-out forwards;
    }
    @keyframes grow-animation {
      from {
        font-size: 1px;
      }
      to {
        font-size: 3rem;
      }
    }
    .inp--big {
      font-size: 3rem;
    }
    .inp--error {
      color: red;
    }
    .output {
      width: 100%;
      overflow: hidden;
      display: flex;
      justify-content: end;
      align-items: flex-end;
      opacity: 0.7;
      transition: font-size 0.5s ease-out;
    }
    .out--big {
      opacity: 1;
      font-size: 3rem;
    }
  }

  .buttons {
    display: grid;
    grid-gap: 18px;
    grid-template-columns: repeat(4, 1fr);
    height: 75%;
    padding-top: 1rem;
    font-size: 2rem;
    :hover {
      opacity: 0.8;
    }
    :active {
      opacity: 0.7;
    }
    & > * {
      background-color: #191919;
      border-radius: 1rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    :nth-child(4n),
    :last-child {
      background-color: #f69906;
    }
    :nth-child(-n + 3) {
      background-color: #9f9f9f;
    }
    .zero {
      grid-column: 1/3;
      display: grid;
      grid-template-columns: 1fr 1fr;
      .hack {
        grid-column: 1/2;
        z-index: 1;
        text-align: center;
        background-color: transparent;
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  main {
    width: 100%;
    padding: 20px;
  }
  .container {
    width: 50%;
    height: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    width: 100%;
    height: 100%;
  }
}

//  @media only screen and (max-width: 500px) {
//     .attribution p {
//         font-size: 0.5rem;
//     }
// }
